<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" th:href="main.css">
    <link rel="stylesheet" th:href="header.css">
    <link rel="stylesheet" th:href="footer.css">
</head>
<body>
<header th:fragment="header">
  <a href="/">Home</a>
  <a href="/signUp">Sign Up</a>
  <a href="/login">Sign in</a>
  <a href="/profile">Profile</a>
  <a href="/allUsers">All users</a>
    <a href="/feed">Feed</a>
</header>
<!--<header th:if="${ifCondition2}" th:fragment="header">-->
<!--    <a href="signUp">Sign Up</a>-->
<!--    <a href="login">Sign in</a>-->
<!--</header>-->

<main>
</main>
</body>
</html>