<!DOCTYPE html>
<html lang="en">
<head th:replace="fragment :: head">
</head>
<body>
<header th:replace="fragment :: header"></header>
<main>
    <h2 th:text="${principalUser}"></h2>
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLg7YYue_VyRsQLCwmguYP8nSLBwe24G8WgqJr8i_YxHwyHXbn9wqkZXAwdAvSGF9kVMk&usqp=CAU"
             alt="Profile image" sizes="max-height: 50px"/>
        <h3>User name: <span th:text="${userData.username}"></span></h3>
        <h3>first Name: <span th:text="${userData.firstName}"></span></h3>
        <h3>last Name: <span th:text="${userData.lastName}"></span></h3>
        <h3>date Of Birth: <span th:text="${userData.dateOfBirth}"></span></h3>
        <h3>Bio: <span th:text="${userData.bio}"></span></h3>
        <hr>
    </div>
    <div th:each="Post: ${allPosts}">
        <h2 th:text="${Post.createdAt}"></h2>
        <h2 th:text="${Post.body}"></h2>
        <hr>
    </div>
</main>

</body>
</html>